@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* NAVIGATION BAR STYLING */

*{
    box-sizing:border-box;
}
body,html{
    height:100%
}

body{
    margin:0;
    padding:0;
    background-color:white;
}

/* Main content */

/*SLIDESHOW STYLING*/
.slideshow-container {
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    z-index:1;
    margin: auto;
}
/*This is the slideshow text */
.slideshow-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:500%;
    outline: 5px dashed red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}

/*Each slide image*/
.slide1{
    height:100vh;
    background-image: url("../img/slideshow_img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2{
    height:100vh;
    background-image: url("../img/slideshow_img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide3{
    height:100vh;
    background-image: url("../img/slideshow_main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide4{
    height:100vh;
    background-image: url("../img/slideshow_img4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mySlides {
    display: none;
}

/*The previous and next buttons*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color:black;

}

/*make it smaller when on phone*/
@media only screen and (max-width: 700px) {
    .slideshow-text {
        font-size: 200%;
        outline: 2px dashed red;
    }
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/*Opening text*/
.open{
    position: relative;
    padding: 35px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background-color: white;
    z-index:99;
}

.open > p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.open h1{
    font-size:290%;


}

/*This is the parallax scrolling image*/
.box1{
    background-image: url('../img/venice_img3.jpg');
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    height:40vh;
    z-index:98;
}

/*story text*/
.story{
    position:relative;
    z-index:97;
    font-family: 'Lato', sans-serif;
    font-weight:900;
    font-size: 250%;
    background-color: black ;
    padding: 10px;
}

span.green{
    color:green;
    margin:0;
}
span.white{
    color:white;
    margin:0;

}
span.red{
    color:red;
    margin:0;

}

/*This is the styling for the history */
.history{
    padding-right:10%;
    padding-left:10%;
    position: relative;
    z-index: 96;
    text-align:left;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:130%;
    color: black;

}

@media only screen and (max-width: 700px) {
    .history {
        padding-right: 0;
        padding-left:0;
        text-align:left;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:100%;
        color: black;
    }
}


/*bottom_imgs*/
.row {
    display:flex;
    flex-flow:row wrap; /* Puts it vertical*/

}

.column img{
    float: left;
    width:  100%;
    height: 10vh;
    object-fit: cover;
}


.column {
    flex: 33.33%;
    padding: 5px;
}

