/* My code still works perfectly without css
 but I just added borders
 to make it look a bit nicer*/


th {
  text-align: left;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}