/* Q1 */
.quote {
    border: 1px solid black;
}

h1 {
    font-size : smaller;
}

.blockquote{
    box-shadow : -6px 2px 4px black ;
    font-size : larger;
}

.my-padding {
    padding : 5px;
}

/* Q2 */

  
  .course-tables, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

  }

  .course-tables tr:nth-child(odd) {
    background-color: #66FF99;
 }

 .small-letters{
  text-transform: lowercase;
 }

  th, td {
    padding: 5px;
  }

/* Q3 */
#menu ul{
  list-style: none;
}

li ul {
  display: none;
}

li:hover > ul {
  display:block;
}


/* Q4 */

.column{
  width: 320px;
  float:left;
  padding: 5px;
}